@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "vazir";
        src: local("vazir"), url('../public/fonts/Vazirmatn-Regular.woff2') format("woff2");
        font-display: swap;
    }
}

body {
    background-image: url('../public/img/headerBgDesktop.png');
    background-repeat: no-repeat;
}