@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "vazir";
        src: local("vazir"), url('../public/fonts/Vazirmatn-Regular.woff2') format("woff2");
        font-display: swap;
    }
}